:root {
    --light_blue: #AAD7D9;
    --beige: #FBF9F1;
    --dark_beige: #E5E1DA;
    --text: rgb(90, 89, 89);
}

body{
    margin:0;
}

#root{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--beige);
    border:none;
    font-family: "Roboto", sans-serif;
    color: var(--text);
}

.main{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;

    overflow:auto;

}

.artImg{
    background-color: var(--dark_beige);
    padding: 5rem;
    width:fit-content;
    max-width: 70rem;
    max-height: 35rem;
    margin: 10rem;
    overflow:auto;
}

.generateArt{
    background-color:#80BCBD;
    border-radius: 0.5rem;
    border-width:0;
    padding: 0.5rem;
}

.artInfo{
    max-width: 30rem;
    max-height: 50rem;
    width:fit-content;
    margin:1rem;
    border-left:solid;
    padding : 5rem;
    overflow: auto;
}

.artInfo ul{
    list-style-type:none;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
    margin: 10rem;
  }
  @keyframes l1 {to{transform: rotate(.5turn)}}




